<h4>Map</h4>
<div *ngIf="errors" class="alert alert-danger">
	{{ errors }}
</div>
<div *ngIf="success" class="alert alert-success">
	{{ success }}
</div>
<div class="text-center">
	<button class="btn btn-primary btn-sm" (click)="getLocation()">Use My Location</button>
</div>
<p></p>
<agm-map [latitude]="lat" [longitude]="lng" (mapClick)="onChoseLocation($event)" [zoom]="16">
	<agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
</agm-map>
<p></p>

<p></p>
<button class="form-control btn btn-dark" (click)="updateLocation()">Update My Location</button>