<h4>Biography</h4>
<p></p>
<div *ngIf="biographyErrors" class="alert alert-danger">
	{{ biographyErrors }}
</div>
<div *ngIf="biographySuccess" class="alert alert-success">
	{{ biographySuccess }}
</div>
<textarea class="form-control" rows="5" placeholder="Enter your biography here" [(ngModel)]="biographyText" maxlength="1000"></textarea>
<small id="fileHelp" class="form-text text-muted">Max length 1000 characters.</small>
<p></p>
<button class="form-control btn btn-dark" (click)="onUpdateBiography()">Update Biography Information</button>