<h2 class="page-header">Your Suggestions</h2>
<hr />
<div *ngIf="!suggestions">You have no suggestions.</div>
<div class="row card-group">
		<div class="col-4 text-center" *ngFor="let suggestion of suggestions">
				<div *ngIf="suggestion['images'][0]">
					<app-user-profile-tag [username]="suggestion['username']" [profileImage]="suggestion['images'][0]['1']"></app-user-profile-tag>
				</div>
				<div *ngIf="!suggestion['images'][0]">
					<app-user-profile-tag [username]="suggestion['username']" [profileImage]="defaultImage"></app-user-profile-tag>
				</div>
			</div>
</div>
