<h4>Images</h4>
<p></p>
<div *ngIf="errors" class="alert alert-danger">
	{{ errors }}
</div>
<div *ngIf="success" class="alert alert-success">
	{{ success }}
</div>
<div class="container">
	<div class="row">
		<div class="col-sm-2"></div>
		<div class="col-sm-4">
			<img id="1" class="img-thumbnail" [attr.src]="images[0]" alt="Default Profile Picture" (click)="selectImage($event)">
		</div>
		<div class="col-sm-4">
			<img id="2" class="img-thumbnail" src="{{ images[1] }}" alt="Default Profile Picture" (click)="selectImage($event)">
		</div>
		<div class="col-sm-2"></div>
	</div>
	<p></p>
	<div class="row">
		<div class="col-sm-4">
			<img id="3" class="img-thumbnail" src="{{ images[2] }}" alt="Default Profile Picture" (click)="selectImage($event)">
		</div>
		<div class="col-sm-4">
			<img id="4" class="img-thumbnail" src="{{ images[3] }}" alt="Default Profile Picture" (click)="selectImage($event)">
		</div>
		<div class="col-sm-4">
			<img id="5" class="img-thumbnail" src="{{ images[4] }}" alt="Default Profile Picture" (click)="selectImage($event)">
		</div>
	</div>
</div>
<p></p>
<div class="custom-file">
	<input type="file" class="custom-file-input" id="inputGroupFile02" (change)="onFileSelected($event)">
	<label class="custom-file-label" for="inputGroupFile02">{{ selectedFile ? selectedFile.name : "Choose file" }}</label>
</div>
<small id="fileHelp" class="form-text text-muted">Max image size 1mb. Images types accepted (PNG, JPEG).</small>
<p></p>
<button class="form-control btn btn-dark" (click)="onFileUpload()">Upload</button>