<form class="form" (ngSubmit)="onVerifyEmail()">
	<h4>Verify Your Email Address</h4>
	<p></p>
	<div *ngIf="errors" class="alert alert-danger">
		{{ errors }}
	</div>
	<div *ngIf="success" class="alert alert-success">
		{{ success }}
	</div>
	<div class="form-group">
		<label for="username">Username</label>
		<input type="text" [(ngModel)]="username" name="username" class="form-control" id="username" placeholder="Enter your username">
	</div>
	<div class="form-group">
		<label for="token">Token</label>
		<input type="text" [(ngModel)]="token" name="token" class="form-control" id="token" placeholder="Enter your token">
	</div>
	<p></p>
	<button class="form-control btn btn-dark" type="submit">Verify Email</button>
</form>