<h2 class="page-header">Login</h2>
<hr />
<form class="form" #loginForm="ngForm" (ngSubmit)="onLoginSubmit()">
	<div *ngIf="errors" class="alert alert-danger" [hidden]="!errors">{{errors}}</div>
	<div class="form-group">
		<label for="username">Username</label>
		<input type="username" [(ngModel)]="usernameText" name="username" class="form-control" id="username" #username="ngModel"
		 required>
		<div [hidden]="username.valid || username.pristine" class="alert alert-danger">
			Username is required
		</div>
	</div>
	<div class="form-group">
		<label for="password">Password</label>
		<input type="password" [(ngModel)]="passwordText" name="password" class="form-control" id="password" #password="ngModel"
		 required>
		<div [hidden]="password.valid || password.pristine" *ngIf="password.touched && password.errors?.required" class="alert alert-danger">
			A password is required
		</div>
	</div>
	<button type="submit" class="btn btn-primary" [disabled]="!loginForm.form.valid">Login</button>
	<div class="float-right">I forgot my <a [routerLink]="['/forgotPassword']">Password</a></div>
</form>