<h2 class="page-header">Update Profile</h2>
<hr />
<form class="form" *ngIf="user$ | async as user" (ngSubmit)="onUpdateProfile()">
	<div *ngIf="profileErrors" class="alert alert-danger">
		{{ profileErrors }}
	</div>
	<div *ngIf="profileSuccess" class="alert alert-success">
		{{ profileSuccess }}
	</div>
	<div class="form-group">
		<label for="fname">First Name</label>
		<input type="text" [(ngModel)]="fname" name="fname" class="form-control" id="fname" placeholder="{{ user.user.fname }}">
	</div>
	<div class="form-group">
		<label for="lname">Last Name</label>
		<input type="text" [(ngModel)]="lname" name="lname" class="form-control" id="lname" placeholder="{{ user.user.lname }}">
	</div>
	<div class="form-group">
		<label for="username">Username</label>
		<input type="text" [(ngModel)]="username" name="username" class="form-control" id="username" placeholder="{{ user.user.username }}">
	</div>
	<div class="form-group">
		<label for="email">Email</label>
		<input type="text" [(ngModel)]="email" name="email" class="form-control" id="email" placeholder="{{ user.user.email }}">
	</div>
	<div class="form-group">
		<label for="password">Password</label>
		<input type="password" [(ngModel)]="password" name="password" class="form-control" id="password" placeholder="Enter a new password if you want">
	</div>
	<button class="form-control btn btn-dark" type="submit">Update Profile</button>
</form>
<hr />
<form class="form" (submit)="onUpdateInterests()">
	<h4>My Interests</h4>
	<br>
	<div *ngIf="interestsErrors" class="alert alert-danger">
		{{ interestsErrors }}
	</div>
	<div *ngIf="interestsSuccess" class="alert alert-success">
		{{ interestsSuccess }}
	</div>
		<div *ngFor="let userInterest of interestKeys(interests)" class="custom-control custom-checkbox">
				<input class="custom-control-input" id="{{ userInterest }}" [(ngModel)]="interests[userInterest]" type="checkbox" [checked]="interests[userInterest]"
				 [ngModelOptions]="{standalone: true}">
				 <label class="custom-control-label" for="{{ userInterest }}">{{ userInterest }}</label>
		</div>
	<br>
	<button class="form-control btn btn-dark" type="submit">Update Interests</button>
</form>
<hr />
<form class="form" (submit)="onUpdateGender()">
	<h4>Gender</h4>
	<p></p>
	<div *ngIf="genderErrors" class="alert alert-danger">
		{{ genderErrors }}
	</div>
	<div *ngIf="genderSuccess" class="alert alert-success">
		{{ genderSuccess }}
	</div>
	<select class="custom-select" name="Gender" id="Gender" [(ngModel)]="gender">
		<option [selected]="!gender"></option>
		<option [selected]="gender === 'Male'">Male</option>
		<option [selected]="gender === 'Female'">Female</option>
	</select>
	<p></p>
	<button class="form-control btn btn-dark" type="submit">Update Gender</button>
</form>
<hr />
<form class="form" (submit)="onUpdateSexualPreference()">
	<h4>Sexual Preference</h4>
	<p></p>
	<div *ngIf="sexualPreferenceErrors" class="alert alert-danger">
		{{ sexualPreferenceErrors }}
	</div>
	<div *ngIf="sexualPreferenceSuccess" class="alert alert-success">
		{{ sexualPreferenceSuccess }}
	</div>
	<select class="custom-select" name="SexualPreference" id="SexualPreference" [(ngModel)]="sexualPreference">
		<option [selected]="sexualPreference === 'Bisexual'">Bisexual</option>
		<option [selected]="sexualPreference === 'Heterosexual'">Heterosexual</option>
		<option [selected]="sexualPreference === 'Homosexual'">Homosexual</option>
	</select>
	<p></p>
	<button class="form-control btn btn-dark" type="submit">Update Sexual Preference</button>
</form>
<hr/>
<app-biography></app-biography>
<hr/>
<app-birth-date></app-birth-date>
<hr/>
<app-profile-images></app-profile-images>
<hr/>
<app-map></app-map>