<h4 class="page-header">Forgot Password</h4>
<hr />
<div *ngIf="errors" class="alert alert-danger">
	{{ errors }}
</div>
<div *ngIf="success" class="alert alert-success">
	{{ success }}
</div>
<div *ngIf="!foundUser">
	<label for="username">Username</label>
	<input type="text" [(ngModel)]="username" name="username" class="form-control" placeholder="Your username">
	<p></p>
	<button class="btn btn-dark form-control" (click)="onForgotPassword()">I forgot my password</button>
</div>
<div *ngIf="foundUser">
	<label for="token">Token</label>
	<input type="text" [(ngModel)]="token" name="token" class="form-control" placeholder="Your token">
	<p></p>
	<label for="password">Password</label>
	<input type="password" [(ngModel)]="password" name="password" class="form-control" placeholder="New Password">
	<p></p>
	<label for="confirmPassword">Confirm Password</label>
	<input type="password" [(ngModel)]="confirmPassword" name="confirmPassword" class="form-control" placeholder="Confirm your password">
	<p></p>
	<button class="btn btn-dark form-control" (click)="onResetPassword()">Reset my password</button>
</div>