<h2 class="page-header">Register</h2>
<hr />
<div class="alert alert-danger" *ngIf="errors">
	{{ errors }}
</div>
<div class="alert alert-success" *ngIf="success">
	{{ success }}
</div>
<form class="form" #registerForm="ngForm" (ngSubmit)="onRegisterSubmit()">
    <div class="form-group">
        <label for="fname">First Name</label>
        <input type="text" [(ngModel)]="fnameText" name="fname" class="form-control" id="fname" #fname="ngModel"
            required>
        <div [hidden]="fname.valid || fname.pristine" class="alert alert-danger">
            First Name is required
        </div>
    </div>
    <div class="form-group">
        <label for="lname">Last Name</label>
        <input type="text" [(ngModel)]="lnameText" name="lname" class="form-control" id="lname" #lname="ngModel"
            required>
        <div [hidden]="lname.valid || lname.pristine" class="alert alert-danger">
            Last Name is required
        </div>
    </div>
    <div class="form-group">
        <label for="email">Email</label>
        <input type="email" [(ngModel)]="emailText" name="email" class="form-control" id="email" #email="ngModel"
            required appEmailValidator>
        <div [hidden]="email.valid || email.pristine" *ngIf="email.touched && !!email.errors?.invalidEmail" class="alert alert-danger">Your
            email address is not valid</div>
        <div [hidden]="email.valid || email.pristine" *ngIf="email.touched && !!email.errors?.required" class="alert alert-danger">An
            email address is required</div>
    </div>
    <div class="form-group">
        <label for="username">Choose a Username</label>
        <input type="username" [(ngModel)]="usernameText" name="username" class="form-control" id="username" #username="ngModel"
            required>
        <div [hidden]="username.valid || username.pristine" class="alert alert-danger">
            Username is required
        </div>
    </div>
    <div class="form-group">
        <label for="password">Choose a Password</label>
        <input type="password" [(ngModel)]="passwordText" name="password" class="form-control" id="password" #password="ngModel"
            required appPasswordValidator>
        <div [hidden]="password.valid || password.pristine" *ngIf="password.touched && !!password.errors?.invalidPassword"
            class="alert alert-danger">Password must contain 8 characters, at least 1 of each [A-Z][a-z][0-9]</div>
        <div [hidden]="password.valid || password.pristine" *ngIf="password.touched && !!password.errors?.required" class="alert alert-danger">
			A password is required
		</div>
    </div>
    <button type="submit" class="btn btn-primary" [disabled]="!registerForm.form.valid">Register</button>
</form>