<app-navbar></app-navbar>
<div style="margin-top:30px;"></div>
<div class="container">
	<router-outlet></router-outlet>
</div>
<footer class="page-footer">
    <div class="footer-copyright text-center py-3">© 2019 Copyright: tstephen</div>
</footer>