<div class="jumbotron text-center">
	<h1>Matcha</h1>
	<p class="lead">Welcome to the dating website Matcha!</p>
	<div>
		<a *ngIf="!_auth.loggedIn()" [routerLink]="['/register']" class="btn btn-primary">Register</a><a *ngIf="!_auth.loggedIn()" [routerLink]="['/login']" class="btn btn-dark">Login</a>
	</div>
</div>
<div class="row">
	<div class="col-md-4">
		<h3>Secure Login System</h3>
		<p>Our system ensures that your personal information is safe and secure. All passwords are safely stored and you can
			have the piece of mind that no-one will be able to take control of your account.</p>
	</div>
	<div class="col-md-4">
		<h3>Advanced GPS Positioning</h3>
		<p>Your location information is used to provide you with the best possible matches. We use an advanced tracking
			algorithm to ensure that your potential lover is very near.</p>
	</div>
	<div class="col-md-4">
		<h3>Unique Chat System</h3>
		<p>Our platform will provide you with real-time instant notifications so that you are aware if someone is ignoring
			you!</p>
	</div>
</div>