<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <a class="navbar-brand" href="#">Matcha</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>


    <div id="navbarColor01" class="collapse navbar-collapse">
        <ul class="navbar-nav mr-auto navbar-left">
            <li class="nav-item">
                <a [routerLinkActive]="['active']" class="nav-link" [routerLink]="['/']">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a *ngIf="_auth.loggedIn()" [routerLinkActive]="['active']" class="nav-link" [routerLink]="['/profile']">Profile
                    <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a *ngIf="_auth.loggedIn()" [routerLinkActive]="['active']" class="nav-link" [routerLink]="['/dashboard']">Dashboard
                    <span class="sr-only">(current)</span></a>
            </li>
        </ul>
        <ul class="navbar-nav navbar-right">
            <li class="nav-item">
                <a *ngIf="!_auth.loggedIn()" [routerLinkActive]="['active']" class="nav-link" [routerLink]="['/login']">Login
                    <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a *ngIf="!_auth.loggedIn()" [routerLinkActive]="['active']" class="nav-link" [routerLink]="['/register']">
                    Register<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a *ngIf="_auth.loggedIn()" (click)="onLogoutClick()" class="nav-link" href="#"> Logout<span class="sr-only">(current)</span></a>
            </li>
        </ul>
    </div>
</nav>