<div class="form-group">
	<h4>Date of Birth</h4>
	<p></p>
	<div *ngIf="errors" class="alert alert-danger">
		{{ errors }}
	</div>
	<div *ngIf="success" class="alert alert-success">
		{{ success }}
	</div>
	<input type="text" bsDatepicker id="dateOfBirth" name="dateOfBirth" [(ngModel)]="dateOfBirth" [bsConfig]="bsConfig" class="form-control">
	<p></p>
	<button class="form-control btn btn-dark" (click)="updateDateOfBirth()">Update Date of Birth</button>
</div>